.section__headquarters {
  .headquarters__item {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    color: #83888f;
    margin-bottom: 72px;
  }
  .headquarters__wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 168px;
  }
  .div__headquarters {
    gap: 95px;
  }
  .headquarter__img {
    margin-bottom: 45px;
  }
  .headquarter__item {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    /* identical to box height, or 112% */

    color: #333d4b;
    margin-bottom: 24px;
  }
  .headquarter__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #333d4b;
    width: 285px;
  }
}
