.drink {
  margin-top: 159px;
  .drink__divf {
    display: flex;
    gap: 125px;
  }

  .drink__item {
    display: flex;
    gap: 28px;
  }
  .drink__list {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
    margin-bottom: 24px;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      color: #333d4b;
    }
  }
  .drink__hr {
    background: #83888f;
    mix-blend-mode: normal;
    opacity: 0.25;
    max-width: 255px;
    margin-bottom: 24px;
  }

  .drink-right__item {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888f;
    margin-bottom: 56px;
  }
  .drink-right__wrapper {
    display: flex;
    gap: 23px;
    margin-bottom: 88px;
  }
  .drink__wrapper {
    background: #f4f1eb;
    border-radius: 8px;
    max-width: 228px;
    padding-top: 32px;
    padding-left: 28px;
    padding-bottom: 84px;
  }
  .drink__capsule {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333d4b;
    margin-bottom: 24px;
  }
  .drink__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333d4b;
    max-width: 172px;
  }
  .drink__black {
    background: #2c343e;
    max-width: 100%;
    margin-bottom: 40px;
    padding-top: 27px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 27px;
  }
  .drink-black__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-transform: uppercase;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 8px;
  }
  .drink-black__item {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    /* or 167% */

    color: #ffffff;
    max-width: 602px;
  }
  .drink__btn {
    margin-bottom: 168px;
    background: #0e8784;
    border-radius: 6px;
    border: none;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    padding: 15px 35px;
    cursor: pointer;
    transition: all 0.3s linear;
    &:hover {
      background-color: #83888f;
    }
  }
  .green {
    background: #0e8784;
  }
  .color {
    color: #fff;
  }
  .green2 {
    color: #0e8784;
  }
}
