.drink-section {
  display: flex;
  gap: 125px;
  justify-content: center;
  .drink__item {
    .list {
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      color: #333d4b;
      margin-bottom: 24px;
      color: #83888f;
      display: flex;
      gap: 28px;
      border-bottom: 1px solid #83888f;
      &:hover {
        color: #333d4b;
      }
    }
    .drink__span {
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      /* identical to box height, or 133% */

      color: #0e8784;
    }
    .hr {
      margin-top: 24px;
      max-width: 255px;
      background: #83888f;
      mix-blend-mode: normal;
      opacity: 0.25;
    }
  }
  .drink__divs {
  }
  .howdoyou {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    /* identical to box height, or 120% */

    color: #83888f;
    margin-bottom: 56px;
  }
  .div__drink__top {
    display: flex;
    gap: 23px;
    align-items: center;
    margin-bottom: 88px;
  }
  .drink__father {
  }
  .div_drink {
    max-width: 228px;
    background: #f4f1eb;
    border-radius: 8px;
    padding-top: 32px;
    padding-left: 28px;
    padding-bottom: 84px;
  }
  .drink__capsule {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    color: #333d4b;
    margin-bottom: 24px;
  }
  .drink__text {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    color: #333d4b;
    max-width: 172px;
  }
  .green {
    background: #0e8784;
  }
  .color {
    color: #ffffff;
  }
  .summary {
    background: #2c343e;
    padding: 27px 24px 27px 64px;
    .order {
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      /* identical to box height, or 162% */

      text-transform: uppercase;

      color: #ffffff;

      mix-blend-mode: normal;
      opacity: 0.5;
    }
    .order__bottom {
      font-family: "Fraunces 9pt";
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      /* or 167% */

      max-width: 602px;
      color: #ffffff;
    }
  }
  .green2 {
    color: #0e8784;
  }
  .summary__btn {
    background: #0e8784;
    border-radius: 6px;
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #fefcf7;
    padding: 15px 35px;
    border: none;
    margin-top: 40px;
    margin-left: 500px;
    margin-bottom: 168px;
  }
}
